.ViewTitle {
	border-bottom: 1px solid #000;
	margin: 10px 10px;
}

.ViewContent {
	border-bottom: 1px solid #000;
	margin: 10px 10px;
	min-height: 320px;
	max-height: 513px;
	overflow-y: auto;
}

.ViewButtons {
	margin-right: 10px;
	margin-bottom: 3px;
	float: right;
	background-color: #CCCCCC;
	outline: none;
	border: none;
	color: rgb(43, 33, 33);
	padding-left: 9px;
	padding-right: 9px;
	font-size: 1.125rem;
	cursor: pointer;
	transition: 0.1s background ease-in;
	&:hover {
		background: #adb5bd;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
}

.ViewTime {
	margin: 10px 10px;
}

